<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <servlet>
        <servlet-name>FootballServlet</servlet-name>
        <servlet-class>web.FootballServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FootballServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FootballServlet</servlet-name>
        <url-pattern>/players</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FootballServlet</servlet-name>
        <url-pattern>/players/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FootballServlet</servlet-name>
        <url-pattern>/matches</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FootballServlet</servlet-name>
        <url-pattern>/matches/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FootballServlet</servlet-name>
        <url-pattern>/clubs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FootballServlet</servlet-name>
        <url-pattern>/clubs/*</url-pattern>
    </servlet-mapping>
    <!--ERROR PAGES-->
    <error-page>
        <error-code>404</error-code>
        <location>/errors/error_404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errors/error_java.jsp</location>
    </error-page>

</web-app>
